<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../includes/head.ejs') %>
</head>

<body>
    <header class="main-header">
        <%- include('../includes/nav.ejs') %>
    </header>
    <main>
      <% if (products.length > 0) { %>
        <ul>
          <% products.forEach(productInfo => { %>
            <li>
              <p><%= productInfo.productData.title %> (<%= productInfo.qty %>)</p>
              <form action="/cart-delete-item" method="POST">
                <input type="hidden" value="<%= productInfo.productData.id %>" name="productId">
                <button class="btn" type="submit">DELETE</button>
              </form>
            </li>
          <% }); %>
        </ul>
      <% } else { %>
        <h1>No Products in Cart!</h1>
      <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
</body>

</html>